{{>nav}}


<div id = 'home'>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-md-2 col-md-offset-5'>

				<h1>HoneyDo</h1>
				<!--Lets Make this change randomly upon page load -->
				<div id = 'catchPhrase'>
				<p>The only way to get what either of you want</p></div>

			</div>
		</div>
	</div>
</div>

<div class = 'container'>
	<div id = 'about'>
		<div class = 'row'>
			<div class = 'col-md-4'>
				<div class="panel panel-default">
  					<div class="panel-body">
						<i class="fa fa-list-ul" aria-hidden="true"></i>
						<h1>Assign</h1>
						<p>Assign tasks for your Hubby to complete</p>
					</div>
				</div>
			</div>
			<div class = 'col-md-4'>
				<div class="panel panel-default">
  					<div class="panel-body">
						<i class="fa fa-check" aria-hidden="true"></i>
						<h1>Complete</h1>
						<p>Hubby completes those tasks to earn "brownie" points.</p>
					</div>
				</div>
			</div>
			<div class = 'col-md-4'>
				<div class="panel panel-default">
  					<div class="panel-body">
						<i class="fa fa-gift" aria-hidden="true"></i>
						<h1>Redeem</h1>
						<p>Hubby redeems collected "brownie" points for prizes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id = 'signup'>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-md-2 col-md-offset-5'>

				<h1>HoneyDo</h1>
				<!--Lets Make this change randomly upon page load -->
				<div id = 'catchPhrase'>
				<p>The only way to get what either of you want</p></div>

			</div>
		</div>
	</div>
</div>