body{
	padding-top: 50px;
	/*background: url(/images/background.jpg);*/
}

#home{
	background-color: #29B429;
	height: 525px;
}

#about{
	background-color: #FFFFFF;
	height: 525px;
}

#signup{
	background-color: #29B429;
	height: 525px;
}