body{
	padding-top: 50px;
	/*background: url(/images/background.jpg);*/
}

#home{
	background-color: #29B429;
	height: 525px;
	color: #FFFFFF;
}

#jumbo{
	margin-top: 25%;
	margin-left: 25%;
	background: rgba(255, 255, 255, 0.5);;
}

#about{
	background-color: #FFFFFF;
	height: 525px;
}

#aboutRow{
	padding-top: 17%;
	text-align: center;
	
}

#preview{
	background-color: #29B429;
	height: 525px;
}

#previewImage{
	margin-top: 5%;
}

#footer{
	margin-bottom: 0%;
}