body {
  padding-top: 50px;
  /*background: url(/images/background.jpg);*/ }

#home {
  background-color: #2FD620;
  height: 525px;
  color: #FFFFFF; }

#jumbo {
  background: #425052; 
  margin-top: 145px}

#colorbutton{
  background-color: #FFFFFF !important;
  color: #CACECF;
}

#panel {
  background-color: #7EC478;
  color: #FFFFFF;
}

#about {
  background-color: #425052;
  height: 525px; }

#aboutRow {
  padding-top: 17%;
  text-align: center; }

#preview {
  background-color: #2FD620;
  height: 525px; }

#previewImage {
  margin-top: 5%; }

#footer {
  margin-bottom: 0%; }

.body {
  color: red; }
